In [33]:
from tkinter import *
import pandas as pd
from scipy import spatial


#Create frame where interaction happens
main = Tk()
main.geometry("400x400")

# Load csv - database
data = pd.read_csv('pizza.csv')
display(data)

,Nombre,Pepperoni,Jamón,Piña,Champiñones,Maduro,Tocineta,Cebolla,Queso
0,Natalia Betancourt,10,8,3,5,2,9,4,10
1,Isabella Gallego,10,5,8,8,10,10,9,10
2,Jose Gabriel Gonzalez,9,6,9,9,8,7,4,10
3,Alejandro Hernandez,10,8,7,8,9,9,7,10
4,Camilo Guevara,10,9,9,9,9,9,9,10
5,Natalia Martinez,10,9,7,9,9,10,6,10
6,Paula Morales,10,9,1,10,8,10,8,10
7,Lina Peralta,10,8,4,10,10,10,7,10
8,Juan Pablo Sanin,9,9,10,5,7,7,6,10
9,Salomon Sarria,10,10,4,6,9,9,5,10

In [34]:
#Methods
def test():
    index = data.index[data['Nombre'] == chosenName.get() ].tolist()
    print(data.iloc[index])


def calculateDistance():
    #Get input user and add to array
    indexTarget = data.index[data['Nombre'] == chosenName.get() ].tolist()
    arrayTarget = []
    
    for i in data.iloc[indexTarget]:
        print(i)
        arrayTarget.append(i)

    #Go through data of other users to get distance
    for x in range(10):
        #Create array of distances
        distance = []

        #Add info to an array
        otherUser = []
 
        #Get the distance of cosine between the selected and the others
        #result = 1 - spatial.distance.cosine(arrayTarget, otherUser)
        #distance.append(result)
        #print(distance)

In [35]:
#List of names for dropdown menu from csv
names = data.loc[:, "Nombre"]

#Chosen name variable
chosenName = StringVar()
chosenName.set(names[0])
print(chosenName.get())

# Create Dropdown menu
drop = OptionMenu( main , chosenName , *names )
drop.pack()

#Button for function to work
button = Button(main, text="Ejecutar", command= calculateDistance).pack()

# Create Label
label = Label(main, text = "El valor del index es: ")
label.pack()
testValue = Label( main , text = " " )
testValue.pack()

main.mainloop()

Natalia Betancourt
[0]
Nombre
Pepperoni
Jamón
Piña
Champiñones
Maduro
Tocineta
Cebolla
Queso